<div ng-show="authenticated">
    <h1>User Detail from Keycloak is</h1>
    
	<ul class="nav navbar-right">
            <li class="navbar-text">User Name:  {{userName}}!</li>
            <li class="navbar-text">Given Name:  {{gname}}!</li>
            <li class="navbar-text">Prefered Name:  {{pname}}!</li>
            <li class="navbar-text">Email:  {{email}}!</li>
    </ul>
         
</div>

